header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0.25))), url(../img/r12-background.jpg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25)), url(../img/r12-background.jpg);
  background: -o-linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25)), url(../img/r12-background.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25)), url(../img/r12-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
  position: relative; }

header strong {
  padding: 10px 5px 10px 8px;
  margin-bottom: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 3px solid black; }

header span {
  color: #3b3b3b;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 1px; }

.header-logo-wrapper {
  text-align: center;
  margin-bottom: 0px !important; }

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.btn {
  padding: 24px 55px;
  margin-bottom: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #FFFFF0;
  background-color: #3b3b3b; }
  .btn:hover, .btn:focus {
    opacity: 0.8;
    color: #DAA520; }

section {
  width: 100%;
  padding: 20px 0 0 0;
  background-color: #FFF0F5; }

.about {
  background-color: white;
  margin-bottom: 50px; }
  .about h2 {
    color: #3b3b3b;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }
  .about p {
    margin: 0 40px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 1px; }

.skills {
  margin-bottom: 20px; }

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(33.33vh - 14px);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid white; }
  .skill-item:hover .skill-item_image {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .skill-item_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #2d3651; }
  .skill-item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
    background-color: #2d3651;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .skill-item:hover .skill-item_overlay {
    opacity: 0.95; }
  .skill-item_title {
    /*position: absolute;*/
    z-index: 2;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    z-index: 1;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 700;
    color: #ffffff; }
  .skill-item i {
    /* position: absolute;*/
    z-index: 2;
    padding: 10px 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #ffffff; }

.skill-item:hover i {
  color: #d68926; }

.skill-item:hover .skill-item_title {
  color: #d68926; }

.caption h2 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  color: #3b3b3b;
  text-align: center; }

.template-slider {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #FFFFFF; }
  .template-slider h2 {
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
    text-align: center; }

.skills-slider {
  width: 50%;
  margin: 10px auto; }
  .skills-slider .slick-prev:before,
  .skills-slider .slick-next:before,
  .skills-slider .slick-dots li button:before {
    color: #8B4513; }
  .skills-slider div {
    position: relative;
    margin: 0 auto; }
  .skills-slider p {
    position: absolute;
    bottom: 0;
    left: 40%;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px; }
  .skills-slider img {
    width: 100%;
    margin: 0 auto; }
  .skills-slider .press-kinozal {
    color: #F0F8FF;
    top: 0; }

.contacts {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: #1b2030; }
  .contacts .fab {
    font-size: 46px; }
  .contacts span:nth-of-type(1) {
    font-weight: 100; }
  .contacts span:nth-of-type(2) {
    color: #e5e5e5;
    font-weight: 700; }

.contacts-social {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts-social a {
    display: block;
    padding: 10px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .contacts-social a:hover, .contacts-social a:focus {
      color: #d66926; }
  .contacts-social::after {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 75px / 2);
    width: 75px;
    height: 2px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1); }

.contacts-copy {
  background-color: #1b2030;
  text-align: center; }
  .contacts-copy span:hover {
    color: #d66926; }

.contacts-wrapper {
  background-color: #1b2030; }

.contacts-social {
  margin-bottom: 0;
  padding: 20px 5px; }
  .contacts-social a {
    font-size: 28px; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/*# sourceMappingURL=style.css.map */
